<div class="jumbotron main">
    <h1 class="display-4">Bem-vindo ao nosso Projeto</h1>
    <p class="lead">App - Backend em Node.js (Express) com ORM (Sequelize)</p>
    <hr class="my-4" style="border-color: white;">
    <p>Este projeto é um CRUD de usuários, com autenticação e autorização. Navegue pelas opções abaixo:</p>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <a href="/categorias" class="btn button btn-block">Categorias</a>
            </div>
            <div class="col-md-4">
                <a href="/professores" class="btn button btn-block">Professores</a>
            </div>
            <div class="col-md-4">
                <a href="/alunos" class="btn button btn-block">Alunos</a>
            </div>
        </div>
    </div>
</div>